<div class="row mt-5 p-3 bg-danger container-fluid">

    <div class="col-md-1"></div>

    <!-- globomart -->
    <div class="col-md-3 p-4 ms-md-2 text-light">
        <h4 class='text-light'><i class="fa-brands fa-slack me-2"></i>Globomart</h4>
        <p class="mt-3"> Discover the latest fashion trends and effortlessly shop for stylish clothing on our e-cart site.</p>
    </div>

    <!-- links -->
    <div class="col-md-2 p-4 text-light">
        <h4>Links</h4>
        <a routerLink="/" class="text-decoration-none text-light"><p class='mt-3'>Home Page</p></a>
        <a routerLink="/cart" class="text-decoration-none text-light"><p>cart page</p></a>
        <a routerLink="/wishlist" class="text-decoration-none text-light"><p> wishlist</p></a>
    </div>

    <!-- assistance -->
    <div class="col-md-2 p-4 text-light">
        <h4>Assistance</h4>
        <p class="mt-3">Angular</p>
        <p> Bootstrap </p>
        <p>Fontawesome</p>
    </div>

    <!-- contact us -->
    <div class="col-md-3 p-4">
        <h4 class='text-white'>Contact Us</h4>
        <div class='d-flex mt-4'>
            <input type="text" className='form-control' placeholder='Email' />
            <button class='btn btn-secondary ms-1 me-5'>Subscribe</button>
        </div>
        <!-- buttons -->
        <div class="d-flex mt-4 justify-content-evenly me-5">
            <i class="fa-brands fa-instagram text-light fs-5"></i>
            <i class="fa-brands fa-twitter text-light fs-5"></i>
            <i class="fa-brands fa-linkedin text-light fs-5"></i>
            <i class="fa-brands fa-facebook text-light fs-5"></i>
        </div>
    </div>

    <div class="col-md-1"></div>

    <!-- copyright -->
    <div class='d-flex justify-content-center align-items-center me-5 text-light'>
        <p class="me-5">Copyright © 2024 globomart. Build with angular.</p>
    </div>
</div>