<app-header></app-header>

<div class="container-fluid" style="margin-top: 0px;">
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" [src]="product.image" alt="no image" height="400px" width="200px"/></div>
                <div class="col-md-6">
                    <div class="small mb-1 text-warning">ID: {{product._id}}</div>
                    <h1 class="display-5 fw-bolder">{{product.title}}</h1>
                    <div class="fs-5 mb-5">
                        <!-- <span class="text-decoration-line-through">$45.00</span> -->
                        <span class="text-primary">${{product.price}}</span>
                    </div>
                    <p class="lead">{{product.description}}</p>
                    <div class="d-flex">
                        <button class="btn btn-outline-danger" type="button">
                            <i class="fa-solid fa-heart"></i>
                            Add to Wishlist
                        </button>

                        <button class="btn btn-outline-success ms-3 " type="button">
                            <i class="fa-solid fa-cart-shopping"></i>
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>