<app-header></app-header>

<div class="container-fluid" style="margin-top: 90px">
    <div class="row">
        <h2 class="text-center mt-5 text-danger">DELIVERY ADDRESS</h2>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <img src="https://i.pinimg.com/564x/1f/44/50/1f445071ed9aa3ba4a5fa8bbcd97d104.jpg" alt="" width="100%" />
        </div>
        <div class="col-md-5 px-md-5">
            <form class="shadow p-4 m-5">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Apartment/FlatNo" />
                    <label for="floatingInput">Apartment/FlatNo</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Place" />
                    <label for="floatingInput">Place</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Pincode" />
                    <label for="floatingInput">Pincode</label>
                </div>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-warning">Cancel</button>
                    <button class="btn btn-success ms-5">Cancel</button>
                </div>
            </form>

            <div class="shadow p-4 caddress m-5">
                <h3 class="text-center text-success">Confirm adress</h3>
                <h5>Name:</h5>
                <h5>Apartment:</h5>
                <h5>Place:</h5>
                <h5>Pincode:</h5>
                <div class="d-flex justify-content-between mt-4">
                    <button class="btn btn-warning">Back</button>
                    <button class="btn btn-success">Payment</button>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>