<app-header></app-header>

<div class="container-fluid">
    <h1 class="mt-5 text-danger text-center">Wish List</h1>

    <!-- item in wishlist -->
    <div class="row">
        <div class="card shadow border-0 ms-5 mt-4" style="width: 20%;">
        <img
          src="https://imgeng.jagran.com/images/2023/mar/best%20laptops1679305053832.jpg"
          class="card-img-top" alt="no image">
        <div class="card-body">
          <h5 class="card-title text-center">Laptop</h5>
          <p class="card-text text-center fw-bold">Price: $700</p>
          <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-outline-danger"><i class="fa-solid fa-heart"></i></a>
            <a href="#" class="btn btn-outline-success"><i class="fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- no item in wishlist -->
     <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
            <img src="https://trendhaul.com/static/media/emptyWishlist.2c46941c523c4f68f900.png" alt="no image" width="100%">

            <button class="btn btn-danger mt-4 shadow"><i class="fa-solid fa-backward me-2"></i>Add item to wishlist</button>
        </div>
        <div class="col-md-3"></div>
     </div>

</div>