
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 d-flex justify-content-center align-items-center flex-column mt-5">
        <img src="https://cdnl.iconscout.com/lottie/premium/thumb/404-error-page-animation-download-in-lottie-json-gif-static-svg-file-formats--not-found-web-the-ultimate-pack-design-development-animations-3299960.gif" alt="no img" class="w-50">
        <h1 class="mt-5 text-danger">Looking like you're Lost</h1>
        <a routerLink="/"><button class=" text-danger btn btn-danger mt-4"><i class="fa-solid fa-backward me-2"></i>Back to Home</button></a>
    </div>
    <div class="col-md-2"></div>
</div>